hosts/kessel/xray.json filter=git-crypt diff=git-crypt
hosts/tatooine/xray.json filter=git-crypt diff=git-crypt
hosts/jedha/xray.json filter=git-crypt diff=git-crypt
secrets/** filter=git-crypt diff=git-crypt
