* {
    BG:    #292929; /* background */
    BGA:   #282828; /* background alternate */
    FG:    #fbf1c7; /* foreground (main text) */
    FGA:   #fb4934; /* foreground accent (error/warning) */
    BDR:   #d65d0e; /* border */
    SEL:   #fbf1c7; /* selection */
    UGT:   #cc241d; /* underline/indicator */
    IMG:   #504945; /* image background / secondary background */
    OFF:   #fabd2f; /* off state indicator */
    ON:    #d79921; /* on state indicator */
}